/*
* This file is part of the ESO system.
*
* (c) SBSystem 2018
*
* For the full license information please see LICENSE.md at https://github.com/SBSystem/ESO/LICENSE.md
*/
body
{
    background-color: #ebeeef;
}

/* login page */

.form-col-image
{
    background-image: url("../images/loginPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    padding:0px;
    margin-top:10%;
}
.bgimage_color
{
    background-color: rgba(54,84,99,0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    padding:10px;
}
.login_form
{
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

.form-control
{
    margin:10px;
}

.header
{
    background-color: rgba(0, 0, 0, 0.75);
    padding-top:10px;
    padding-bottom:10px;
    color:white;
}
.header a
{
    color:white;
}
.header a:hover
{
    color: #f0f0f0;
}
.header a:visited
{
    color:white;
}

.header .site-logo
{
    font-size: 36px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgb(3, 3, 3) 0px 2px 5px;
    transition: all 0.7s ease;
    margin-top:10px;
    margin-bottom:10px;
}
.header .site-logo span
{
    color : #0f51ff;
}

.header .menu_position
{
    font-size:26px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-left:0px;
    margin-right:0px;
}
.header .menu_position:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:-10px;
    margin-bottom:-15px;
    padding-top:25px;
    padding-bottom:25px;
    border-bottom: 4px solid #0f51ff;
}
.header .active
{

    font-size:26px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:-10px;
    margin-bottom:-15px;
    margin-left:0px;
    margin-right:0px;
    padding-top:25px;
    padding-bottom:25px;
    border-bottom: 4px solid #0f51ff;
}
.header .active:hover
{
    font-size:26px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:-10px;
    margin-bottom:-15px;
    padding-top:25px;
    padding-bottom:25px;
    border-bottom: 4px solid #0f41bc;
}
.header .nomargin
{
    margin:0px;
    padding:0px;
}