<!DOCTYPE html>
<html>
<head>
    <!-- Created by ESO https://github.com/SBSystem/ESO -->
    <meta charset="UTF-8">
    <meta name="author" content="SBSystem">
    <meta name="generator" content="ESO">
<meta name="keywords" content="Elektroniczny dziennik, e-dziennik, dziennik, eso, szkola">
<meta name="description" content="Elektroniczny dziennik ESO pozwoli Ci sprawdzać postępy twojego dziecka w nauce, obecności na lekcjach i wiele innnych!">
<title>{% block title %}{% endblock %}</title>

</head>
<body>

</body>
</html>
